/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/style.css ***!
  \*********************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,800&display=swap);
/*!*************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/css/style.css (1) ***!
  \*************************************************************************/
/* ---------------- */
/* Default Values */
/* ---------------- */

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  outline: none;
}

html,
body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* ---------------- */
/* Styling Elements */
/* ---------------- */

/* HEADER */
.header {
  background-color: #ffff;
  box-shadow: inset 0px -1px 5px -1px #ccc;
  padding: calc(1vw + 5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER >> LOGO */
.header__logo {
  cursor: pointer;
  outline: none;
  color: #000000;
  background-color: rgb(255, 255, 255);
  font-size: calc(10px + (18 - 10) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 900;
  text-decoration: underline;
}

.header__logo:active {
  border-radius: 10px;
  box-shadow: inset 0px -1px 5px -1px #ccc;
}

.header__logo:hover {
  color: #4285f4;
}

/* HEADER >> INPUT */
.header__input {
  display: flex;
  width: calc(32vw + (363 - 32) * ((100vw - 300px) / (1600 - 300)));
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  padding: 0px 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 -1px 0px rgb(0 0 0 / 2%);
  border-radius: 8px;
}

/* HEADER >> INPUT >> INPUT TEXT */
/* 글자 길이 조절 */
.header__input input {
  width: 100%;
  font-size: calc(7px + (15 - 7) * ((100vw - 300px) / (1600 - 300)));
}

/* header__input 밑 자식 아이템 포인터 속성주기 */
/* fas: font awesome */
.header__input > .fas {
  cursor: pointer;
  outline: none;
  font-size: calc(10px + (14 - 10) * ((100vw - 300px) / (1600 - 300)));
}

/* HEADER >> NEARBY LIBRARY BUTTON */
.header__nearby-btn {
  width: 15vw;
  cursor: pointer;
  padding: 0px 5px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + (15 - 8) * ((100vw - 300px) / (1600 - 300)));
  word-break: keep-all;
  color: #000000;
  font-weight: 900;
  height: 2.5rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 -1px 0px rgb(0 0 0 / 2%);
  border-radius: 8px;
}

.header__nearby-btn:active {
  box-shadow: inset 0px -1px 5px -1px #ccc;
}

/* MAP */
#map {
  z-index: 2;
  flex: 1;
  background-color: rgb(165, 165, 165);
}

/* MAP-BOX */
.map-box {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
}

/* SIDEBAR를 닫았을 때 맵 너비 100vw */
.map-active {
  width: 100vw;
}

.popup {
  cursor: pointer;
}

/* MAP-BOX >> SIDEBAR */
.map-box__sidebar {
  flex: 0.5;
  border-right: 1px solid #dadce0;
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 -1px 0px rgb(0 0 0 / 2%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* MAP-BOX >> SIDEBAR >> CLOSE BUTTON */
.map-box__close {
  position: relative;
  top: 10px;
  left: calc(22px + (220 - 22) * ((100vw - 300px) / (1600 - 300)));
  font-size: calc(10px + (20 - 10) * ((100vw - 300px) / (1600 - 300)));
  cursor: pointer;
  /* color: #dadce0; */
}

.map-box__sidebar--hidden {
  opacity: 0;
  transition: transform 2s, opacity 2s;
}

.map-box__sidebar--disabled {
  display: none;
}

.map-box__sidebar--display {
  opacity: 1;
  transition: transform 1s, opacity 1s;
}

.map-box__sidebar--slideIn {
  animation: slideIn 0.7s forwards;
}

/* MAP-BOX >> SIDEBAR >> RESULT TITLE */
.map-box__result {
  word-break: break-all;
  list-style-type: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 110%;
  font-size: calc(10px + (18 - 10) * ((100vw - 300px) / (1600 - 300)));
  font-family: 'Raleway', -apple-system;
  transition: transform 1s, opacity 1s;
  color: #18335e;
  padding: 10px 8px;

  text-align: center;
  margin-bottom: 10px;
}

.map-box__title:hover {
  color: #4285f4;
  border-radius: 10px;
  background-color: #eee;
}

.map-box__list li a {
  font-weight: 600;
  border: 1px solid #ddd;
  background-color: #f6f6f6;
  padding: 10px;
  text-decoration: none;
  font-size: 12px;
  color: black;
  display: block;
}

.map-box__list li a:hover {
  color: #4285f4;
  background-color: #eee;
}

/* MAP-BOX >> SIDEBAR >> RESULT LIST (ul tag) */
.map-box__list {
  display: inline-block;
  width: 80%;
  height: 25rem;
  font-size: 6px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  overflow-y: scroll;
  list-style-type: none;
  padding: 2em;
  background-color: #f6f6f6;
}

/* MAP-BOX >> SIDEBAR >> 아이템 중 li 태그 */
/* lib-list__col text--gray */
.map-box__list li {
  display: block;
  word-break: break-all;
  list-style-type: none;
  text-align: left;
  padding: 5px;
  font-weight: 500;
  color: #453b4a;
  font-size: 2em;
}

/* MAP-BOX >> SIDEBAR >> 아이템 중 링크 태그 */
.map-box__list--link:not(label) {
  cursor: pointer;
}

.map-box__list--link:hover:not(label) {
  color: #4285f4;
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.map-box__list label {
  color: #453b4a;
  font-size: 1.2em;
  font-weight: 600;
}

/* MAP-BOX >> SIDEBAR >> DIVIDER */
.map-box__divider {
  border-top: 1px solid #dadce0;
}

/* ANIMATION */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* FONT AWESOME ICON STYLING */
.fa-map-marked-alt {
  color: #4285f4;
  padding-left: 3px;
}

.fa-compass {
  color: #4285f4;
  padding-right: 3px;
}

.fa-search-location {
  color: #4285f4;
  border-left: 1px solid #dadce0;
  padding-left: 6px;
}

.fa-bars {
  color: #dadce0;
}

/* ---------------------------------------------------------- */

.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #4285f4;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 1s linear infinite;
}

@media only screen and (max-width: 562px) {
  .fa-compass {
    display: none;
    /* visibility: hidden; */
    /* backface-visibility: hidden;   */
  }
}


/*# sourceMappingURL=styles.css.map*/