@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,800&display=swap');
* {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  outline: none;
}

html {
  min-height: 100vh;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:hover {
  color: #4285f4;
}

.padding--medium {
  padding: 1rem 1rem;
}

.transition {
  transition: transform 1s, opacity 1s;
}

.flex--space-btw {
  display: flex;
  justify-content: space-between;
}

.header--box-shadow {
  box-shadow: 0 0 20px #eee;
}

input {
  width: 220px;
}

aside {
  min-width: 50vh;
  min-height: 82.2vh;
  flex: 0.5;
  border-right: 1px solid #dadce0;
}

.logo__title--big {
  font-size: 110%;
  font-weight: 900;
  text-decoration: underline;
  /* padding-top: 5px; */
}

header {
  background-color: #ffff;
  box-shadow: inset 0px -1px 5px -1px #ccc;
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.hidden {
  opacity: 0;
  transition: transform 2s, opacity 2s;
}

.display {
  opacity: 1;
  transition: transform 1s, opacity 1s;
}

.slideIn {
  animation: slideIn 0.7s forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(-50px);
  }
  100% {
    transform: translateX(0px);
  }
}

.disabled {
  display: none;
}

.map-active {
  width: 100vh;
}

.popup {
  cursor: pointer;
}

#map {
  min-height: 85vh;
  padding: 1rem 2rem;
  z-index: 2;
  flex: 2;
  background-color: rgb(165, 165, 165);
}

.close {
  position: relative;
  top: 15px;
  left: 150px;
  cursor: pointer;
  /* color: #dadce0; */
}

.input__text {
  width: 20rem;
  height: 2.5rem;
  /* border-radius: 87% 13% 87% 13% / 0% 100% 0% 100%; */
  /* box-shadow: 0 0 20px #eee; */
  /* margin-top: 10px; */
  text-align: center;
}

.btn {
  cursor: pointer;
  outline: none;
}

.btn__search {
  color: #000000;
  font-weight: 900;
  /* font-size: 5%; */
  width: 10rem;
  height: 2.5rem;
  padding: 5px;
  /* margin-top: 10px; */
  background-color: rgb(255, 255, 255);
}
.btn__search:active {
  box-shadow: inset 0px -1px 5px -1px #ccc;
}

.fa-map-marked-alt {
  color: #4285f4;
  padding-left: 3px;
}

.fa-compass {
  color: #4285f4;
  padding-right: 3px;
}

.sidebar__title {
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 8px;
  /* background-color: #ffffff; */
  font-size: 1.2em;
  color: #453b4a;
}

.lib-list__col {
  word-break: break-all;
  list-style-type: none;
  text-align: left;
  padding: 5px;
  font-weight: 500;
  color: #453b4a;
  font-size: 0.9em;
}

.lib__name--big {
  font-size: 110%;
  font-family: 'Raleway', -apple-system;
  transition: transform 1s, opacity 1s;
  color: #18335e;
  padding: 10px 0px;
  /* background-color: #ffffff; */
  text-align: center;
  margin-bottom: 10px;
}

.lib--href {
  display: block;
}

.reading-girl__svg {
  padding-top: 30px;
  width: 50%;
  height: auto;
}

label {
  color: black;
  font-size: 1em;
  font-weight: 700;
}

.text--gray {
  color: #453b4a;
}

.box-shadow {
  box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 -1px 0px rgb(0 0 0 / 2%);
}

.border-radius {
  border-radius: 8px;
}

.map-box {
  display: flex;
}

input {
  position: relative;
  top: 10px;
}

.fa-search-location {
  color: #4285f4;
  position: relative;
  top: 10px;
  left: 15px;
  border-left: 1px solid #dadce0;
  padding-left: 6px;
}

.fa-bars {
  color: #dadce0;
  position: relative;
  top: 10px;
  right: 15px;
}

.lib-divider {
  border-top: 1px solid #dadce0;
  /* box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 -1px 0px rgb(0 0 0 / 2%); */
}

.loader {
  position: relative;
  left: 60px;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #4285f4;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#search-result {
  display: inline-block;
  width: 80%;
  height: 30rem;
  font-size: 6px; /* Increase font-size */
  padding: 12px 18px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  overflow: scroll;
}

#search-result {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#search-result li a {
  font-weight: 600;
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 10px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 12px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#search-result li a:hover {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.lib-list--background {
  border: 1px solid #ddd;
  background-color: #f6f6f6; /* Grey background color */
}
.lib-list {
  height: 15em;
  overflow: scroll;
}
